name: CI
on: [push, pull_request]
jobs:
  specs:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows ]
        ruby: [ 2.5.5, 2.5.6, 2.5.7, 2.5.8, 2.6.0, 2.6.1, 2.6.2, 2.6.3, 2.6.4, 2.6.5, 2.6.6 ]
    runs-on: ${{ matrix.os }}-latest
    steps:
    - name: git config autocrlf
      run: git config --global core.autocrlf false
      if: matrix.os == 'windows'

    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler: none
    - name: Clone MSpec
      run: git clone https://github.com/ruby/mspec.git ../mspec

    - name: Run specs
      if: matrix.os != 'windows'
      env:
        CHECK_LEAKS: true
      run: ../mspec/bin/mspec --timeout 30
    - name: Run C-API specs as C++
      if: matrix.os != 'windows'
      env:
        SPEC_CAPI_CXX: true
      run: ../mspec/bin/mspec :capi

    - name: Run specs (Windows)
      if: matrix.os == 'windows'
      env:
        CHECK_LEAKS: true
      run: |
        # Actions uses UTF8, causes test failures, similar to normal OS setup
        [Console]::OutputEncoding = [System.Text.Encoding]::GetEncoding("IBM437")
        [Console]::InputEncoding  = [System.Text.Encoding]::GetEncoding("IBM437")
        ../mspec/bin/mspec -j
